<!doctype html>
<html>
  <head>
    <script type="text/javascript">
      {{{ scripts }}}
    </script>
    <style>
      {{{ styles }}}
    </style>
  </head>
  <body>
    <div id="loader">Loading...</div>
    <div id="outlet"></div>
    <script src="${interactiveEndpoint}"></script>
  </body>
</html>
